@charset "utf-8";
/* CSS Document */
body{
	margin-left: 0;
	margin-right: 0;
	font-family: "微软雅黑";
	background-color:#eeeeee;
	}
.Title{
	background-color:#3C4049;
	width:100%;
	height:30px;
	color:#FFF;
	line-height:30px;
	font-weight:bold;
	font-size:18px;
	float: left;
	}
/***************************************************************************************************/
/***************************************************************************************************/
.add_user_div{
	float: left;
	width:100%;
	margin-top:10px;
	}
.add_user_text1{
	float: left;
	width: 90px;
	height:30px;
	margin-left:100px;
	line-height:30px;
	font-size:15px;
	text-align: right;
	color: #000;
	}
.add_user_text2{
	width: 230px;
	float: left;
	margin-left:20px;
	}
.add_user_text3{
	width: 300px;
	height:30px;
	float: left;
	color:#F00;
	line-height:30px;
	font-size:14px;
	}
.add_user_input{
	height:30px;
	width:220px;
	}
.add_user_button1{
	height:26px;
	width:98px;
	float: left;
	margin-top: 8px;
	margin-left: 210px;
	background-color:#313131;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	line-height:26px;
	color: #ffffff;
	cursor: pointer;
	}
.add_user_button2{
	height:26px;
	width:98px;
	float:left;
	margin-top: 8px;
	margin-left: 22px;
	background-color:#313131;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	line-height:26px;
	color: #ffffff;
	cursor: pointer;
	}
.add_user_ts{
	float: left;
	width:100%;
	margin-top:50px;
	}