<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    
    <!-- 总管理触发器,如果将lazy-init='false'那么容器启动就会执行调度程序  -->
    <bean id="jobs" lazy-init="false" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--站内信消息邮箱推送-->
                <ref bean="pushMessageAndMailToAuthorTrigger"/>
            </list>
        </property>
    </bean>

    <!-- 站内信发送定时任务 -->
    <bean id="pushMessageAndMailToAuthor" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="JobTaskService"/>
        <property name="targetMethod" value="sayHello"/>
    </bean>

    <bean id="pushMessageAndMailToAuthorTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="pushMessageAndMailToAuthor"/>
        <property name="startDelay" value="0" /><!-- 调度工厂实例化后，经过0秒开始执行调度 -->
        <property name="repeatInterval" value="2000" /><!-- 每5分钟调度一次 -->
    </bean>
</beans>