<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javen.sys.dao.UserMapper">
	<resultMap id="User_ResultMap" type="com.javen.sys.model.User">
		<id column="id" property="id" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="salt" property="salt" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Select_SQL">
		id,username,password,salt
	</sql>

	<insert id="insert" parameterType="com.javen.sys.model.User">
		insert into sys_users(
		<trim suffixOverrides=",">
			<if test="username!=null and username!=''">
				username,
			</if>
			<if test="password!=null and password!=''">
				password,
			</if>
			<if test="salt!=null and salt!=''">
				salt,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="username!=null and username!=''">
				#{username},
			</if>
			<if test="password!=null and password!=''">
				#{password},
			</if>
			<if test="salt!=null and salt!=''">
				#{salt},
			</if>
		</trim>
		)
	</insert>

	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM sys_users
		WHERE id = #{id}
	</delete>

	<update id="update" parameterType="com.javen.sys.model.User">
		update sys_users
		<set>
			<if test="username!=null and username!=''">
				username=#{username},
			</if>
			<if test="password!=null and password!=''">
				password=#{password},
			</if>
			<if test="salt!=null and salt!=''">
				salt=#{salt},
			</if>
		</set>
		where id=#{id}
	</update>

	<select id="findById" parameterType="java.lang.String" resultType="com.javen.sys.model.User">
		SELECT <include refid="Base_Select_SQL" />
		FROM sys_users
		WHERE id = #{id};
	</select>

	<select id="findAllList"  resultType="com.javen.sys.model.User">
		SELECT <include refid="Base_Select_SQL" />
		FROM sys_users
	</select>

	<select id="findByUsername" parameterType="java.lang.String" resultType="com.javen.sys.model.User" >
		SELECT <include refid="Base_Select_SQL" />
		FROM sys_users
		WHERE username = #{username}
	</select>

	<select id="findList" parameterType="com.javen.sys.model.User"  resultMap="User_ResultMap">
		SELECT <include refid="Base_Select_SQL" />
		FROM sys_users
		<where>
			<if test="username!=null and username!=''">
				AND username=#{username}
			</if>
			<if test="password!=null and password!=''">
				AND password LIKE #{password}
			</if>
			<if test="salt!=null and salt!=''">
				AND salt=#{salt}
			</if>
		</where>
	</select>
</mapper>